:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --secondary-txt-cl: #ffffff;
  --third-txt-cl: #757575;
  --dark-txt-cl: #000000;

  /* bg colors */

  --light-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --dark-blue-cl: #188ce8;
  --light-grey-cl: #f5f4fa;
  --header-border-cl: #ececec;
  --portfolio-border-cl: #eeeeee;
  --footer-socials-bg-cl: rgba(255, 255, 255, 0.1);
  --icons-cl: #afb1b8;

  /* others */

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --card-gap: 30px;
  --card-item: 3;
}

body {
  font-family: var(--main-font);
  color: var(--third-txt-cl);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

/* reset styles */

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
  margin-left: calc(-1 * var(--card-gap));
}

.card-item {
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-top: var(--card-gap);
  margin-left: var(--card-gap);
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.btn {
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: color var(--transition);
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-txt-cl);
  color: var(--secondary-txt-cl);
  transition: background-color var(--transition);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--dark-blue-cl);
}

.interact {
  transition: color var(--transition);
}

.interact:hover,
.interact:focus,
.current {
  color: var(--accent-txt-cl);
}

.section-title {
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.item-subtitle {
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header section */

.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-border-cl);
}

.header__container {
  display: flex;
}

.header__nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__logo {
  margin-right: 93px;
}

.nav__logo--black {
  display: inline-block;
  color: var(--dark-txt-cl);
}

.nav__list {
  display: flex;
  gap: 50px;
  align-items: center;
  color: var(--main-txt-cl);
}

.nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.nav__link--current {
  position: relative;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}

.header__contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts__link {
  display: flex;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.contacts__icon {
  fill: currentColor;
}

/* Hero section */

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--dark-bg-cl);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

/* Our features */

.features__list {
  --card-item: 4;
}

.features__thumb {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey-cl);
  margin-bottom: 30px;
}

.features__subtitle {
  margin-bottom: 10px;
  color: var(--main-txt-cl);
}

/* About */

.about {
  padding-top: 0;
}

.about__wrapper {
  position: relative;
}

.about__box {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  text-align: center;
  color: var(--secondary-txt-cl);
}

/* Our team */

.team {
  padding-top: 0;
  background-color: var(--light-grey-cl);
}

.team__list {
  --card-item: 4;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__members {
  text-align: center;
  padding: 30px;
  background: var(--light-bg-cl);
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--main-txt-cl);
}

.team__subtitle,
.team__txt {
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team__txt {
  margin-bottom: 16px;
}

.team-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Socials */

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-cl);
  transition: color var(--transition), background-color var(--transition);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-txt-cl);
}

.socials__icon {
  fill: currentColor;
}

/* Our clients */

.clients__list {
  --card-item: 6;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  color: var(--icons-cl);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color var(--transition);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-txt-cl);
}

.clients__icon {
  fill: currentColor;
}

/*
  |==============================
  | Portfolio
  |==============================
*/

/* Portfolio-filters */

.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters__btn {
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: var(--light-grey-cl);
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
}

.filters__btn:hover,
.filters__btn:focus {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn--active {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio overlay */

.portfolio__link {
  transition: box-shadow var(--transition);
  display: block;
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform var(--transition);
}

.portfolio__link:hover .portfolio-wrapper__overlay,
.portfolio__link:focus .portfolio-wrapper__overlay {
  transform: translateY(-100%);
}

.portfolio-wrapper__txt {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--secondary-txt-cl);
}

.portfolio-wrapper__content {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-cl);
}

.portfolio-wrapper__subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.portfolio-wrapper__desc {
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* Footer section */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer__address {
  color: var(--secondary-txt-cl);
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--white {
  display: inline-block;
  color: var(--secondary-txt-cl);
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts__item {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__mail {
  margin-bottom: 9px;
}

.footer-socials__title {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--secondary-txt-cl);
}

.footer-socials__link {
  color: var(--light-bg-cl);
  background-color: var(--footer-socials-bg-cl);
}

.footer__subscription {
  margin-left: auto;
}

.subscription__title {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--secondary-txt-cl);
}

.subscription__form {
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: var(--secondary-txt-cl);
  transition: border-color var(--transition);
}

.subscription__input:focus,
.subscription__input:hover {
  border-color: var(--accent-txt-cl);
}

.subscription__icon {
  margin-left: 10px;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--light-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 500ms linear, transform 500ms linear;
}

.backdrop.backdrop--is-hidden .modal {
  transform: scale(0);
  opacity: 0;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--light-bg-cl);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-btn__icon {
  transition: fill var(--transition);
}

.modal-btn:hover .modal-btn__icon,
.modal-btn:focus .modal-btn__icon {
  fill: var(--accent-txt-cl);
}

/* Form */

.form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--main-txt-cl);
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__wrapper {
  position: relative;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition);
}

.form__input:focus,
.form__input:hover {
  border-color: var(--accent-txt-cl);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--accent-txt-cl);
}

.comment {
  margin-bottom: 20px;
}

.comment__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.comment__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition);
}

.comment__textarea:focus,
.comment__textarea:hover {
  border-color: var(--accent-txt-cl);
}

.comment__textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon--uncheck {
  opacity: 0;
  transition: opacity var(--transition), fill var(--transition);
}

.checkbox__input:hover + .checkbox__icon .checkbox__icon--uncheck,
.checkbox__input:focus + .checkbox__icon .checkbox__icon--uncheck {
  fill: var(--accent-txt-cl);
}

.checkbox__icon--check {
  opacity: 0;
  transition: opacity var(--transition), fill var(--transition);
}

.checkbox__input:checked + .checkbox__icon .checkbox__icon--check {
  opacity: 1;
  fill: var(--accent-txt-cl);
}


.checkbox__txt {
  user-select: none;
}

.checkbox__link {
  color: var(--accent-txt-cl);
  text-underline-position: under;
}
